html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #D1E9F6;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  background: #D1E9F6;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.calculator {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 500px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background: #210062;
  border-radius: 10px;
  padding: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  overflow-y: hidden;
}

.screen {
  display: flex;
  flex-direction: column;
  background: #5C2FC2;
  height: 30%;
  min-height: 100px;
  width: 95%;
  border-radius: 5px;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  gap: 5px;
}

.upperNumber {
  font-size: 17px;
  height: 25%;
  width: 100%;
  color: #333333;
  text-align: left;
  overflow-x: hidden;
}

.lowerpart {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.operator {
  font-size: 26px;
  color: #333333;
}

.lowerNumber {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  height: 70%;
  width: 100%;
  color: #333333;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-break: break-all;
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 65%;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  margin-bottom: 100px;
}

.general {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16%;
  min-height: 50px;
  width: 15%;
  font-size: 16px;
  background: #91DDCF;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
}

#add,
#sub,
#mul,
#div {
  font-size: 20px;
}

#del,
#clr {
  background: #FF6D60;
}

::-webkit-scrollbar {
  width: 1px;
  margin-left:10px;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #111111;
}
